* {
  box-sizing: border-box;
}

form {
  position: relative;
  width: 200px;
  margin: 0 auto;
 
}
input, .btn-input-2 {
  border: none;
  outline: none;
  background: transparent;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
  padding-right: 25px;
}
.btn-input-2 {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.btn-input-2:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 20px;
  color: rgb(53, 34, 20);
 
}

body {
  height: 100%;
  margin: 0 auto;
  background-color: rgb(235, 206, 211);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
 /* margin-top: 20px;*/
  position: fixed;
  background-color:rgb(235, 206, 211) ;
 border-bottom: solid 2px gray;
}

.ul-header-1 {
  list-style: none;
  margin-right: 5px;
}
.btn-menu {
  display: flex;
 }
.button-menu {
  border:solid 1px gold;
    background-color:rgb(236, 209, 59);
    color:black;
    margin-left: 10px;
    width:100px;
    height:50px;
    cursor: pointer;
    font-size:20px;
    margin-top:8px;
    border-radius: 3px;
    border-bottom: solid 4px rgb(171, 147, 12);
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(255,255,255,.6),
    0 2px 0 rgba(255,215,.1),
    inset 0 0 20px rgba(0,0,0,.1);
}
.button-menu:hover {
    background-color: rgb(215, 185, 12);
    color: black;
  }
 span {
   color: rgb(85, 45, 17);
   font-size: 20px;
   font-weight: bolder;
   cursor: pointer;
 }

.input-img {
  display: flex;
  align-items: center;
}
input {
  border: solid 1px rgba(197, 136, 93, 0.963);
  border-radius: 50px;
  height: 40px;
  cursor: pointer;
}
input:focus {
  outline: none;
}
::placeholder {
  color: rgba(197, 136, 93, 0.963);
  padding: 10px auto;
}




.ul-header-2 {
  display: flex;
 align-items: center;

}
.ul-header-2__ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  
}
.li-head {
  padding-right: 19px;
  cursor: pointer;
  border: solid 1px transparent;
  margin-right: 5px;
 
}
.li-head:hover {
  border-bottom: solid 2px chocolate;
 
}
.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(73, 41, 20);
}
.container__img-1 {
  margin-top: 120px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.container__img-2 {
  margin-top: 120px;
  margin-bottom: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.container__img-3 {
  margin-top: 120px;
  margin-bottom: 30px;
  cursor: pointer;

}
.container__img-4 {
  margin-top: 120px;
  margin-bottom: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.container__img__border {
  border: solid 1px gray;
  border-radius: 50%;
 
}
.container__img__border__child {
  text-align: center;
  color: gray;
  font-size: 20px;
 
}


.dropbtn {
  border:solid 1px gold;
  background-color:rgb(236, 209, 59);
  color:black;
  margin-left: 10px;
  width:100px;
  height:50px;
  cursor: pointer;
  font-size:20px;
  margin-top:15px;
  border-radius: 3px;
  border-bottom: solid 4px rgb(171, 147, 12);
  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(255,215,.1),
  inset 0 0 20px rgba(0,0,0,.1);
 
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(215, 185, 12);
    color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e2c6c6;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(125, 76, 41);
  font-size: 20px;
  font-weight: bolder;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(252, 251, 251)}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.navigation {
  display: flex;
  justify-content: space-between;
  
}

.navigation__ul__li-1 {
  cursor: pointer;
  margin-left: 20px;
  font-size: 22px;
  color: rgb(94, 60, 35);
  font-weight: bolder;
  border:  3px solid chocolate;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navigation__ul__li-2 {
  cursor: pointer;
 font-size: 22px;
  color: rgb(94, 60, 35);
  font-weight: bolder;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .navigation__ul__li-3 {
  cursor: pointer;
 font-size: 22px;
  color: rgb(94, 60, 35);
  font-weight: bolder;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .navigation__ul__li-4 {
  cursor: pointer;
 font-size: 22px;
  color: rgb(94, 60, 35);
  font-weight: bolder;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .navigation__ul__li-5 {
  cursor: pointer;
  font-size: 22px;
  color: rgb(94, 60, 35);
  font-weight: bolder;
margin-right: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .navigation__ul__li-1:hover {
  color: red;
  border-bottom: solid 2px red;
 
 }
 .navigation__ul__li-2:hover {
  color: red;
  border-bottom: solid 2px red;
 
 }
 .navigation__ul__li-3:hover {
  color: red;
  border-bottom: solid 2px red;
 
 }
 .navigation__ul__li-4:hover {
  color: red;
  border-bottom: solid 2px red;
 
 }
 .navigation__ul__li-5:hover {
  color: red;
  border-bottom: solid 2px red;
 
 }
.container-burger {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
 
}
.container-burger-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
 
}
.container-burger-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
 
}
.container-burger-4 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
 
}
.overlow-container-burger__1 { /*обертка выстывить в ряд при медиазапросе*/
  cursor: pointer;
  /*
  display: flex;
 flex-direction: column;
 width: 50%;*/
 }
.overlow-container-burger__2 { /*обертка выстывить в ряд при медиазапросе*/
  cursor: pointer;
  /*
  display: flex;
 flex-direction: column;
 width: 50%;*/
 }
.overlow-container-burger__3 { /*обертка выстывить в ряд при медиазапросе*/
  cursor: pointer;
  /*
  display: flex;
 flex-direction: column;
 width: 50%;*/
 }
.overlow-container-burger__4 { /*обертка выстывить в ряд при медиазапросе*/
  cursor: pointer;
  /*
 display: flex;
flex-direction: column;
width: 50%;*/
}
.overlow-container-burger__5 {/*обертка выстывить в ряд при медиазапросе*/
  cursor: pointer;
  /*
  display: flex;
  flex-direction: column;*/
}
.overlow-container-burger__6 { /*обертка выстывить в ряд при медиазапросе*/
  cursor: pointer;
  /*
  display: flex;
 flex-direction: column;
 width: 50%;*/
 }
 .overlow-container-burger__7 { /*обертка выстывить в ряд при медиазапросе*/
  cursor: pointer;
  /*
   display: flex;
  flex-direction: column;
  width: 50%;*/
  }
  .overlow-container-burger__8 {/*обертка выстывить в ряд при медиазапросе*/
    cursor: pointer;
    /*
    display: flex;
    flex-direction: column;*/
  }
  .overlow-container-burger__9 { /*обертка выстывить в ряд при медиазапросе*/
    cursor: pointer;
    /*
    display: flex;
   flex-direction: column;
   width: 50%;*/
   }
   .overlow-container-burger__10 { /*обертка выстывить в ряд при медиазапросе*/
    cursor: pointer;
    /*
     display: flex;
    flex-direction: column;
    width: 50%;*/
    }
    .overlow-container-burger__11 {/*обертка выстывить в ряд при медиазапросе*/
      cursor: pointer;
      /*
      display: flex;
      flex-direction: column;*/
    }
    .overlow-container-burger__12 { /*обертка выстывить в ряд при медиазапросе*/
      cursor: pointer;
      /*
      display: flex;
     flex-direction: column;
     width: 50%;*/
     }
.container-burger__1 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  border-radius: 20px;
  background-color: white;
}
.container-burger__2 {
  display: flex;
  flex-direction: column;
 
  border-radius: 20px;
  background-color: white;
}
.container-burger__3 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border-radius: 20px;
  background-color: white;
}
.container-burger__4 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  border-radius: 20px;
  background-color: white;
}
.container-burger__5 {
  display: flex;
  flex-direction: column;
 
  border-radius: 20px;
  background-color: white;
}
.container-burger__6 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border-radius: 20px;
  background-color: white;
}
.container-burger__7 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  border-radius: 20px;
  background-color: white;
}
.container-burger__8 {
  display: flex;
  flex-direction: column;
 
  border-radius: 20px;
  background-color: white;
}
.container-burger__9 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border-radius: 20px;
  background-color: white;
}
.container-burger__10 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  border-radius: 20px;
  background-color: white;
}
.container-burger__11 {
  display: flex;
  flex-direction: column;
 
  border-radius: 20px;
  background-color: white;
}
.container-burger__12 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border-radius: 20px;
  background-color: white;
}
.container-burger__1:hover {
  box-shadow: 9px 9px 9px 7px rgba(0, 0, 0, 0.2);
}
.container-burger__2:hover {
  box-shadow: 9px 9px 9px 7px rgba(0, 0, 0, 0.2);
}
.container-burger__3:hover {
  box-shadow: 9px 9px 9px 7px rgba(0, 0, 0, 0.2);
}
.container-burger__4:hover {
  box-shadow: 9px 9px 9px 7px rgba(0, 0, 0, 0.2);
}
.container-burger__5:hover {
  box-shadow: 9px 9px 9px 7px rgba(0, 0, 0, 0.2);
}
.container-burger__6:hover {
  box-shadow: 9px 9px 9px 7px rgba(0, 0, 0, 0.2);
}
.container-burger__7:hover {
  box-shadow: 9px 9px 9px 7px rgba(0, 0, 0, 0.2);
}
.container-burger__8:hover {
  box-shadow: 9px 9px 9px 7px rgba(0, 0, 0, 0.2);
}
.container-burger__9:hover {
  box-shadow: 9px 9px 9px 7px rgba(0, 0, 0, 0.2);
}
.container-burger__10:hover {
  box-shadow: 9px 9px 9px 7px rgba(0, 0, 0, 0.2);
}
.container-burger__11:hover {
  box-shadow: 9px 9px 9px 7px rgba(0, 0, 0, 0.2);
}
.container-burger__12:hover {
  box-shadow: 9px 9px 9px 7px rgba(0, 0, 0, 0.2);
}
.container-burger__1-img {
  border-radius: 20px;
}

.names-burger {
color:rgb(62, 39, 23) ;
text-align: center;
margin-bottom: 0;
}
.names-burger-sum {
  color: rgb(62, 39, 23);
  text-align: center;
  border: solid 1px chocolate;
  border-radius: 20px;
  background-color: chocolate;
  color: white;
  padding: 5px 5px;
  margin-left: 50px;
  margin-right: 50px;
}
.names-burger-zakaz {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 2px;
  color:rgb(14, 28, 223) ;
   border:solid 1px transparent;
}
.names-burger-zakaz:hover {
  color: palevioletred;
}
.container-4 {
  display: flex;
 justify-content: center;
}
.container-4__content {
width: 60%;
margin-bottom: 50px;
}
.container-4__content__h1 {
  font-size: 40px;
  color: rgb(77, 49, 30);
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-4__content__p {
  font-size: 18px;
  color: rgb(108, 71, 45);
} 
.container-5-footer {
  display: flex;
  width: 100%;
  background-color: rgb(66, 45, 30);
}
.container-5-footer__one-section {
display: flex;
width: 100%;
justify-content: space-between;
}
.container-5-footer__one-section__child-1 {
  margin-left: 20px;
  color: aliceblue;
  width: 50%;
  cursor: pointer;
}
.container-5-footer__one-section__child-2 {
  display: flex;
  width: 50%;
  align-items: center;
 justify-content: center;
}
.img-1footer {
  
}
.hr-line {
 
  border: solid 1px gray;
}
.hr-line-2 {
  border: solid 1px gray; 
  margin-top: 50px;
}
.container-5-footer-2 {
  display: flex;
 justify-content: center;
  background-color: rgb(66, 45, 30);
}
.container-5-footer-2__child {
  width: 50%;
 color: gray;
}
.contacts {
  text-decoration: none;
  
}





/* стили для страницы контакты*/
.container-burger-contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
 
}

.overlow-container-burger__1-contacts { /*обертка выстывить в ряд при медиазапросе*/
  cursor: pointer;
  width: 30%;
 margin: 10px 10px;
 
 
  /*
  display: flex;
 flex-direction: column;
 width: 50%;*/
 }
 .container-burger__1-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
  border-radius: 20px;
  background-color: white;
}

 .container-burger__1-img-contacts {
 width: 30%;
 align-items: center;
 
}

.overlow-container-burger__2-contacts { /*обертка выстывить в ряд при медиазапросе*/
  cursor: pointer;
  width: 30%;
  margin: 10px 10px;
  /*
  display: flex;
 flex-direction: column;
 width: 50%;*/
 }
 .container-burger__2-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
 
  background-color: white;
}

 

.overlow-container-burger__3-contacts { /*обертка выстывить в ряд при медиазапросе*/
  cursor: pointer;
  width: 30%;
  margin: 10px 10px;
  /*
  display: flex;
 flex-direction: column;
 width: 50%;*/
 }
 .container-burger__3-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
  border-radius: 20px;
  background-color: white;
}
.names-burger-contacts {
  margin-bottom: 40px;
}
.container-burger__1-contacts:hover {
  box-shadow: 6px 6px 6px 4px rgba(0, 0, 0, 0.2);
}
.container-burger__2-contacts:hover {
  box-shadow: 6px 6px 6px 4px rgba(0, 0, 0, 0.2);
}
.container-burger__3-contacts:hover {
  box-shadow: 6px 6px 6px 4px rgba(0, 0, 0, 0.2);
}





.section {
 display: flex;
 justify-content: center;
}
.section__child {
margin-top: 100px;
width: 60%;
text-align: center;
}
.section__child__h1 {
  text-align: center;
  color: rgb(58, 41, 29);
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0;

}
.section__child__p {
  color: rgb(58, 41, 29);
  font-size: 17px;
  font-weight: bolder;

}
.p-contacts {
  text-align: center;
  margin-bottom: 0;
  font-size: 19px;
  color: rgba(58, 41, 29, 0.936);
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: antiquewhite;
}
.section-2 {
  display: flex;
  justify-content: center;
}
.section-2__child__button {
  border: solid 1px orangered;
  background-color: orangered;
  color: white;
  width: 400px;
  font-size: 22px;
  border-radius: 50px;
  padding: 20px 20px;
  margin-bottom: 80px;
  cursor: pointer;
}

/* стили для страницы ресторан*/
.section-4 {
  display: flex;
 justify-content: space-around;
 
  
  background-color:rgba(235, 206, 211, 0.944) ;
}
.section-4__box {
  display: flex;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  background-color: white;
}
.section-4__box__children {
  width: 100%;
  position: relative;
}
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
  font-weight: bolder;
  cursor: pointer;
}
.section-4__box__children__p {
 text-align: center;
 font-size: 20px;
 color: rgba(131, 89, 59, 0.951);
}
.section-4__box__children__h1 {
  text-align: center;
  font-weight: bolder;
  color: rgba(67, 51, 40, 0.951);
  margin-bottom: 0;
  font-size: 40px;
 }
.box-container-card {
display: flex;
justify-content: center;
}
.box-container-card__1 {
margin: 10px 10px auto;
cursor: pointer;
}
.box-container-card-overlow-card1 {
  background-color: white;
  border-radius: 20px;
  margin: 10px 20px auto;
  border: solid 1px gray;
}
.box-container-card-overlow-card2 {
  background-color: white;
  border-radius: 20px;
 margin: 10px 20px auto;
 border: solid 1px gray;
}
.box-container-card__2 {
  margin: 10px 10px auto;
  cursor: pointer;
}
.box-container-card__content {
  text-align: center;
  color:rgba(36, 28, 22, 0.951) ;
  font-size: 18px;
  font-weight: bolder;
}
.section-3 {
  display: flex;
  justify-content: center;
}
.section-3__child__button {
  border: solid 1px rgba(36, 28, 22, 0.951);
  background-color: rgba(57, 41, 30, 0.951);
  color: white;
  width: 400px;
  font-size: 25px;
  border-radius: 50px;
  padding: 20px 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  cursor: pointer;
}
/* стили для страницы купоны*/
.section-box-coupons {
 padding-top: 100px;
}
.section-box-coupons__h1 {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(70, 44, 26);
  margin-left: 20px;
}
.section-box-coupons__h3 {
  color: rgba(111, 80, 58, 0.952);
  margin-left: 20px;
}
.section-box-coupons__button {
  border: solid 1px rgba(36, 28, 22, 0.951);
  background-color: rgba(57, 41, 30, 0.951);
  color: white;
  width: 100px;
  font-size: 16px;
  border-radius: 50px;
  padding: 20px 20px 20px 20px;
  margin-left: 20px;
  cursor: pointer;
}
.container-burger-coupons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
 
}
.overlow-container-burger__1-coupons {
   /*обертка выстывить в ряд при медиазапросе*/
    cursor: pointer;
    /*
    display: flex;
   flex-direction: column;
   width: 50%;*/
   
}
.container-burger__1-coupons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  border-radius: 20px;
  background-color: white;
}
.container-burger__1-img-coupons {
  border-radius: 5px;
  border-bottom: dashed 3px orangered;
}
.names-burger-sum-coupons {
  text-align: center;
  color: rgb(95, 93, 93);
}

.overlow-container-burger__2-coupons {
  /*обертка выстывить в ряд при медиазапросе*/
   cursor: pointer;
   /*
   display: flex;
  flex-direction: column;
  width: 50%;*/
  
}
.container-burger__2-coupons {
 display: flex;
 flex-direction: column;

 border-radius: 20px;
 background-color: white;
}


.overlow-container-burger__3-coupons {
  /*обертка выстывить в ряд при медиазапросе*/
   cursor: pointer;
   /*
   display: flex;
  flex-direction: column;
  width: 50%;*/
  
}
.container-burger__3-coupons {
 display: flex;
 flex-direction: column;
 margin-right: 20px;
 border-radius: 20px;
 background-color: white;
}


/* стили для страницы etica*/
.section-etica {
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;
  justify-content: center;

}
.section-etica__content {
 width: 80%; 
}
.section-etica__content__h1 {
  font-size: 50px;
  color: rgb(103, 67, 42);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section-etica__content__p {
  font-size: 20px;
  color: rgba(96, 60, 35, 0.955);
}


/* стили для страницы information*/
.section-information {
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;
  justify-content: center;  
}
.section-information__content {
  width: 80%;
}
.section-information__content__li {
  font-size: 20px;
  color:rgba(96, 60, 35, 0.955) ;
}
.inform-h1 {
  font-size: 30px;
  color: rgb(103, 67, 42);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* стили для страницы faq*/
.section-faq__content__h1 {
  font-size: 25px;
  color: rgb(103, 67, 42);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section-faq__content__li {
  font-size: 20px;
  color:rgba(96, 60, 35, 0.955) ;
  line-height: 2;
}




@media screen and (max-width: 375px) {
  
}

@media screen and (max-width: 320px) {
 
}
